*{
	box-sizing: border-box;
}

header{
	background-color: #666;
	padding: 20px;
  	text-align: center;
  	font-size: 30px;
  	color: white;
}

section{
	content: "";
	display: table;
	clear: both;
	
	width: 100%;
}

nav{
	float: left;
  	width: 30%;
 	height: 400px; /* only for demonstration, should be removed */
 	background: #ccc;
	padding: 20px;
}

ul{
	list-style: none;
	padding: 0;
}

li{
	margin-bottom: 15px;
}

li a:hover{
	color: white;
	background-color: #666666;
}

a:link, a:visited{
	text-decoration: none;
	color: #666666;
	display: block;
	padding: 5px 20px;
}

article{
	float: left;
	width: 70%;
	height: 400px;
	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
}

article p{
	text-align: justify;
}

img{
	width: 35%;
	border-radius: 5px;
}

img:hover{
	box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

footer{
	background-color: #777;
  	padding: 10px;
  	text-align: center;
  	color: white;
}

@media only screen and (max-width: 620px){
	nav, article{
		width: 100%;
	}
}