*{
	box-sizing: border-box;
}

header{
	background-color: #666;
	padding: 20px;
  	text-align: center;
  	font-size: 30px;
  	color: white;
}

section{
	content: "";
	display: table;
 	clear: both;
}

nav{
	float: left;
  	width: 30%;
 	height: 400px; /* only for demonstration, should be removed */
 	background: #ccc;
 	padding: 20px;
}
article{
	float: left;
	width: 70%;
	height: 400px;
	background-color: #f1f1f1;
	padding: 20px;
}

img{
	width: 35%;
}

footer{
	background-color: #777;
  	padding: 10px;
  	text-align: center;
  	color: white;
}

@media only screen and (max-width: 620px){
	nav, article{
		width: 100%;
	}
}